Source: openmediavault-downloader
Section: net
XB-Plugin-Section: downloaders
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0 )
Standards-Version: 3.9.6
Homepage: http://omv-extras.org/

Package: openmediavault-downloader
Architecture: all
Depends: aria2,
         curl,
         libav-tools | ffmpeg,
         libav-tools | ffprobe,
         openmediavault (>= 3.0.40),
         python,
         ${misc:Depends}
Description: OpenMediaVault downloader plugin
 Plugin to download files to a specified share using aria2, curl, or
 youtube-dl.
 .
 aria2 is a lightweight multi-protocol & multi-source command-line
 download utility. It supports HTTP/HTTPS, FTP, BitTorrent and Metalink.
 .
 curl is a command line tool for transferring data with URL syntax
 .
 youtube-dl is a small command-line program to download videos from
 YouTube.com and a few more sites.
